.callouts {

   display: flex;
   flex-direction: column;

   @include breakpoint ( $sm ) {
      display: grid;
      grid-gap: 4px;
      grid-template-columns: repeat( 2, 1fr );
      margin: 0 auto 30px;
      max-width: 1110px;
      width: 100%;
   }

   @include breakpoint ( $md ) {
      grid-template-rows: repeat( 4, 1fr );
   }

   @include breakpoint( $lg ) {
      grid-template-columns: repeat( 3, 1fr );
      grid-template-rows: repeat( 6, 1fr );
   }

   &__article {
      display: flex;
      flex-direction: column;
      margin: 0 0 10px;
      position: relative;
      transition: background-color 750ms ease-out;

      &:hover,
      &:focus {

         &.box-magenta {
            background-color: darken( $magenta, 10% );
            transition: background-color 750ms ease-out;
         }

         &.box-orange {
         	background-color: darken($orange, 10%);
         	transition: background-color 750ms ease-out;
         }

         &.box-yellow {
         	background-color: darken($yellow, 10%);
         	transition: background-color 750ms ease-out;
         }


         .callouts__article-media img {
            opacity: 0.3;
            transition: opacity 750ms ease-out;
         }
      }

      @include breakpoint( $sm ) {
         margin: 0;
      }

      &.box-orange {
         background-color: $orange;
      }

      &.box-magenta {
         background-color: $magenta;
      }

      &.box-yellow {
         background-color: $yellow;
      }

      &.box-no-media {
         padding: 160px 0;

         @include breakpoint( $md ) {
            padding: 0;
         }
      }

      &-media {
         flex: 0 1 auto;
         height: 320px;
         width: 100%;

         @include breakpoint( $md ) {
            height: 100%;
         }

         img {
            height: 100%;
            object-fit: cover;
            transition: opacity 750ms ease-out;
            width: 100%;
         }
      }

      &-content {
         display: flex;
         flex-direction: column;
         flex: 1 0 auto;
         justify-content: flex-end;
         padding: 14px 28px;

         a.callouts_article-link {
            color: $color-grayscale-f;
            font-size: 24px;
            font-weight: $font-bold;
            margin: 0;
            text-decoration: none;

            &:hover,
            &:focus {
               color: $color-grayscale-f;
               text-decoration: none;
            }

            &::before {
            	bottom: 0;
            	content: '';
            	left: 0;
            	position: absolute;
            	right: 0;
            	top: 0;
            }
         }

         p {
            color: $color-grayscale-0;
            font-size: 24px;
            font-weight: $font-bold;
            margin: 0;
         }
      }

      &.box-01 {

         @include breakpoint( $md ) {
            grid-column: 1 / span 1;
            grid-row: 1 / span 2;
         }

         @include breakpoint( $lg ) {
            grid-row: 1 / span 6;
         }

         img {
            object-position: 60% 100%;
         }
      }

      &.box-02 {

         @include breakpoint($md) {
         	grid-column: 2 / span 1;
         	grid-row: 1 / span 1;
         }

      	@include breakpoint($lg) {
      		grid-row: 1 / span 3;
         }

         img {
         	object-position: 20% 50%;
         }
      }

      &.box-03 {

         @include breakpoint($md) {
         	grid-column: 2 / span 1;
         	grid-row: 2 / span 1;
         }

      	@include breakpoint($lg) {
      		grid-row: 4 / span 3;
         }

         img {
         	object-position: 50% 20%;
         }
      }

      &.box-04 {

         @include breakpoint($md) {
         	grid-column: 1 / span 1;
         	grid-row: 3 / span 1;
         }

      	@include breakpoint($lg) {
      		grid-column: 3 / span 1;
      		grid-row: 1 / span 2;
         }

         img {
         	object-position: 60% 100%;
         }
      }

      &.box-05 {

         @include breakpoint($md) {
         	grid-column: 2 / span 1;
         	grid-row: 3 / span 2;
         }

      	@include breakpoint($lg) {
      		grid-column: 3 / span 1;
      		grid-row: 3 / span 2;
         }

         img {
            object-position: 80% 100%;

            @include breakpoint( $lg ) {
               object-position: 60% 100%;
            }
         }
      }

      &.box-06 {

         @include breakpoint($md) {
         	grid-column: 1 / span 1;
         	grid-row: 4 / span 1;
         }

      	@include breakpoint($lg) {
      		grid-column: 3 / span 1;
      		grid-row: 5 / span 2;
      	}
      }
   }
}