.footer-container {
   margin: 60px auto 0;
   max-width: 1110px;

   &__top {
      align-items: center;
      border-bottom: 1px solid $yellow;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 0 0 35px;

      @include breakpoint( $md ) {
         align-items: flex-start;
         flex-direction: row;
      }
   }

   &__bottom {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px 0;
      width: 100%;

      @include breakpoint( $md ) {
         flex-direction: row;
         padding: 0 0 20px;
      }
   }

   .footer-logo {
      flex: 0 0 126px;
      margin: 0 auto;
      max-width: 320px;
   }

   .footer-menu {
      margin: 60px 15px;

      @include breakpoint( $md ) {
         flex: 1 0 calc(100% - 126px);
         margin: 0;
      }

      ul {
         display: flex;
         flex-direction: column;
         margin: 0;
         padding: 0;

         @include breakpoint( $md ) {
            flex-direction: row;
         }
      }

      li {
         list-style: none;
         margin: 0 0 15px;
         text-align: center;

         @include breakpoint( $md ) {
            margin: 0;
            text-align: left;
         }
      }

      a.footer-link {
         color: $color-grayscale-0;
         font-size: 18px;
         font-weight: $font-semibold;
         text-decoration: none;

         @include breakpoint( $md ) {
            font-size: 14px;
            margin: 0 0 0 75px;
         }

         &:hover,
         &:focus {
            text-decoration: underline;
         }
      }

      .sub-menu {
         display: flex;
         flex-direction: column;
         margin: 15px 0 0;

         a.footer-link {
            font-weight: $font-light;
         }
      }

   }

   .footer-social {

      ul {
         align-items: center;
         display: flex;
         flex-direction: row;
         justify-content: center;
         margin: 0;
         padding: 0;
      }

      li {
         list-style: none;
      }

      a.social-link {
         height: 35px;
         margin: 0 15px;

         @include breakpoint( $md ) {
            height: 26px;
            margin: 0 8px 0 0;
         }

         img {
            height: 100%;
            object-fit: contain;
            width: 100%;
         }
      }
   }

   .footer__copywright {
      color: $color-grayscale-0;
      font-size: 12px;
      font-weight: $font-light;
   }

   .footer__utility {
      ul {
         display: flex;
         flex-direction: column;
         margin: 0;
         padding: 0;

         @include breakpoint( $md ) {
            flex-direction: row;
         }
      }

      li {
         list-style: none;
         text-align: center;

         @include breakpoint( $md ) {
            text-align: left;
         }
      }

      a.utility-link {
         color: $color-grayscale-0;
         font-size: 12px;
         font-weight: $font-light;
         margin: 0 0 25px;
         text-decoration: none;

         @include breakpoint( $md ) {
            margin: 0 0 0 45px;
         }

         &:hover,
         &:focus {
            text-decoration: underline;
         }
      }
   }

}