body {
   background: $color-grayscale-f;
   color: $color-grayscale-0;
   font-family: $montserrat;

   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p {
      font-family: $montserrat;
   }
}

section {
   margin: 0;
}

h2.section-title {
   color: $dark-navy;
   font-size: 28px;
   font-weight: $font-medium;
   margin: 30px;
   text-align: center;

   @include breakpoint( $md ) {
      font-size: 36px;
   }
}

