.header {
   background:  $color-grayscale-f;
   position: relative;

   &__container {
      align-items: center;
      display: flex;
      flex-direction: row;
      height: auto;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 1110px;
      padding: 10px 15px;
      width: 100%;

      @include breakpoint( $sm ) {
         padding: 10px 30px;
      }

      @include breakpoint( $md ) {
         padding: 0 60px;
      }

      @include breakpoint( 1110px ) {
         padding: 0;
      }
   }

   &__logo {
      margin: 8px 20px 8px 0;
      height: 100%;
      width: 125.89px;
   }

   &__nav {
      display: none;

      @include breakpoint($md) {
      	display: block;
      }

      ul {
         align-items: center;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         margin: 0;
         padding: 0;
      }

      li {
         list-style: none;
      }

      a.header__nav-link {
         color: $dark-navy;
         font-size: 16px;
         font-weight: $font-semibold;
         padding: 15px 33px;
         text-decoration: none;

         &:hover,
         &:focus {
            color: $orange;
            text-decoration: none;
            transition: color 250ms ease-in-out;
         }
      }
   }

   &__cta {
      display: none;

      @include breakpoint( $md ) {
         display: block;
      }

      button {
         background-color: $orange;
         color: $color-grayscale-f;
         font-size: 15px;
         font-weight: $font-regular;
         margin: 0;
         padding: 10px 20px;
         text-transform: uppercase;
         transition: background-color 250ms ease-in-out;

         &:hover,
         &:focus {
            background-color: darken( $orange, 10%);
            transition: background-color 250ms ease-in-out;
         }
      }

      svg {
         height: 9.54px;
         margin-left: 8px;
         width: 8.36px;
      }
   }
}

.mobile-trigger {

   @include breakpoint( $md ) {
      display: none;
   }
}

button.menu-trigger {
	color: #000;
	height: 60px;
	width: 60px;
	padding: 0;
	margin: 0;
	appearance: none;
	border: 0;
	background: none;
	opacity: 0.6;
	transition: all 250ms ease-in-out;

	&:hover {
		opacity: 1;
		transition: all 250ms ease-in-out;
		cursor: pointer;
	}

	&:focus {
		outline: none;
	}
}

svg {
	height: 60px;
	width: 60px;
	stroke-width: 1px;
}

.menu-trigger.menu-closed {
	#leftPath {
		opacity: 0;
		transform: rotate(-45deg);
		transform-origin: center;
		transition: all 125ms ease-in-out;
	}

	#rightPath {
		opacity: 0;
		transform: rotate(45deg);
		transform-origin: center;
		transition: all 125ms ease-in-out;
	}

	#midPath {
		opacity: 0;
	}

	#circlePath {
		stroke-dasharray: 140;
		stroke-dashoffset: -140;
		transition: all 250ms ease-in-out;
	}

	#bottomPath {
		opacity: 1;
		transform: translateY(0);
		transition: all 125ms ease-in-out 125ms;
	}

	#topPath {
		opacity: 1;
		transform: translateY(0);
		transition: all 125ms ease-in-out 125ms;
	}
}

.menu-trigger.menu-open {
	#circlePath {
		stroke-dasharray: 130;
		stroke-dashoffset: 0;
		transition: all 250ms ease-in-out;
	}

	#leftPath {
		opacity: 1;
		transform: rotate(0deg);
		transform-origin: center;
		transition: all 125ms ease-in-out 125ms;
	}

	#rightPath {
		opacity: 1;
		transform: rotate(0deg);
		transform-origin: center;
		transition: all 125ms ease-in-out 125ms;
	}

	#bottomPath {
		opacity: 0;
		transform: translateY(-7px);
		transition: all 125ms ease-in-out;
	}

	#topPath {
		opacity: 0;
		transform: translateY(7px);
		transition: all 125ms ease-in-out;
	}
}

.mobile-menu {
   align-items: center;
   background-color: $cream;
   display: flex;
   flex-direction: column;
   height: 100%;
   justify-content: space-around;
   min-height: calc( 100vh - 100px );
   position: absolute;
   top: 100%;
   width: 100vw;
   z-index: 600;

   @include breakpoint( $md ) {
      display: none;
   }

   &.menu-closed {
      left: 100vw;
      transition: all 500ms cubic-bezier(0.16, 1, 0.3, 1);
   }

   &.menu-open {
      left: 0;
      transition: all 500ms cubic-bezier(0.16, 1, 0.3, 1);
   }

   .header__nav,
   .header__cta {
      display: block;

      @include breakpoint( $md ) {
         display: none;
      }
   }

   .header__nav {
      ul {
         flex-direction: column;
         justify-content: space-around;
         min-height: 60vh;
         padding: 60px;
      }

      a.header__nav-link {
         font-size: 30px;
         padding: 60px 15px;
      }
   }

   .header__cta {
      height: auto;

      button {
         font-size: 28px;
         padding: 10px 45px;
         width: 100vw;
      }

      svg {
         height: 20px;
      }
   }
}
